<!DOCTYPE html>
<html>
<head>
    <title>PD PREVeNT - Take Test</title>
</head>
<body>
    <h1>PD PREVeNT - Take Test</h1>
    <form action="/details" method="POST">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h3>Enter Details</h3>
                    <button type="button" id="info_btn"><i class="fas fa-info-circle"></i></button>
                    <label for="Gender">Select Your Gender:</label>
                    <div>
                        <input type="radio" id="male" name="Gender" value="Male">
                        <label for="male">Male</label>
                    </div>
                    <div>
                        <input type="radio" id="female" name="Gender" value="Female">
                        <label for="female">Female</label>
                    </div>
                    <br>
                    <label for="Age">Your Age:</label>
                    <input type="number" id="Age" name="Age" placeholder="Your Age">
                    <br>
                    <label for="Feature">Select Your Feature(s):</label>
                    <select id="Feature" name="Feature" multiple>
                        <option value="Anxiety">Anxiety</option>
                        <option value="Apathy">Apathy</option>
                        <option value="Benton">Benton</option>
                        <option value="Clock">Clock</option>
                        <option value="Cognition">Cognition</option>
                        <option value="COGSTATE">COGSTATE</option>
                        <option value="Constipate">Constipate</option>
                    </select>
                    <br>
                    <div id="score_range">
                        <!-- Score range inputs will be dynamically added here using JavaScript -->
                    </div>
                    <br>
                    <button type="submit" id="submit_btn">Submit</button>
                </div>
                <div class="col-md-6">
                    <h3>User Information</h3>
                    <div id="mygender"></div>
                    <div id="myage"></div>
                    <div class="box">
                        <h4>Recommended Features for Male</h4>
                        <div id="male_text">Apathy, UPSIT</div>
                    </div>
                    <div class="box">
                        <h4>Recommended Features for Female</h4>
                        <div id="female_text">Constipation</div>
                    </div>
                    <div class="box">
                        <div id="myscore"></div>
                    </div>
                    <div class="box" style="background-color: lightblue;">
                        <div id="myfinal"></div>
                    </div>
                    <div class="box">
                        <h4>Risk Meter</h4>
                        <div id="gauge"></div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/js/all.min.js"></script>
    <script>
        $(document).ready(function() {
            // JavaScript code for dynamically adding score range inputs based on selected features
            $('#Feature').change(function() {
                var selectedFeatures = $(this).val();
                var scoreRangeDiv = $('#score_range');
                scoreRangeDiv.empty();
                
                selectedFeatures.forEach(function(feature) {
                    var label = $('<label>').text('Score of ' + feature + ':');
                    var input = $('<input>').attr({
                        type: 'number',
                        name: feature,
                        min: 0
                    });
                    
                    scoreRangeDiv.append(label, input, $('<br>'));
                });
            });
            
            // Example of retrieving user information and displaying it
            $('#submit_btn').click(function() {
                var gender = $('input[name="Gender"]:checked').val();
                var age = $('#Age').val();
                
                $('#mygender').text('Gender: ' + gender);
                $('#myage').text('Age: ' + age);
            });
        });
    </script>
</body>
</html>
